

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #9bcfd5, #95cdd4, #96CDD4, #82BEC8, #9bd0d6,  #AFDCE1, #B1DBE1 );
}


header{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
color: rgb(27, 27, 27);
padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

nav .logo{
    font-size: 1.5rem;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 1rem;
    margin-top: 10px;
}
nav ul li a {
    color: #353535;
    text-decoration: none;
    padding: 0.5 rem 1 rem;
    transition: background 0.3s;
}
nav ul li a:hover{
background-color: white;
border-radius: 4px;

}

img{
    width: 100%;
}